.color-picker-modal {
    width: 384px !important;
    overflow: hidden;
    border-radius: 1em;
    background-color: white;
    border: 2px solid #78909c;
    outline: 0px solid transparent;
}

.material-color-picker {
    display: flex;
    width: 24em;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
}

.mt-30 {
    margin-top: 30px;
}

.menu-open-button {
    display: none;
}

.material-color-picker__left-panel {
    z-index: 1;
}

.material-color-picker__right-panel {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.color-selector {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    border-right: 2px solid #78909c;
}

.color-selector input[type='radio'] {
    display: none;
}

label {
    font-size: 1em !important;
}

html {
    font-size: 1em !important;
    line-height: 1em !important;
}

.color-selector label {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: "Consolas" monospace;
}

.color-selector label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding: 0.75em;
    background-color: currentColor;
    border-radius: 50%;
}

.color-selector label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0.5em;
    border: 0.25em solid;
    border-radius: 50%;
}

.color-selector input[type='radio']:hover+label::after {
    padding: 0.6em;
}

.color-selector input[type='radio']:checked+label::after {
    padding: 1em;
    transition: padding 250ms;
}

.color-palette-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.color-palette-wrapper.js-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.color-palette-header {
    display: flex;
    justify-content: space-between;
    font-family: "Consolas", monospace;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 1em;
    color: black;
}

.color-style {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: transparent;
    margin: 0 auto;
    border: 1px solid gray;
    cursor: pointer;
}

.display-none {
    display: none;
}

.color-palette {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.black-white {
    flex-grow: 0.04;
}

.color-palette__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0.25em 0;
    padding: 0 1em;
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    font-weight: 900;
    font-family: "Consolas", monospace;
    transition: -webkit-transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
    transition: transform 250ms;
    cursor: pointer;
}

.color-palette__item:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.modal {
    top: 10% !important;
    bottom: 10% !important;
    height: 432px !important;
    max-height: unset !important;
}

@media screen and (max-height: 432px) {
    .modal {
        height: auto !important;
        top: 0px !important;
        bottom: 0px !important;
        width: 420px !important;
        border-radius: 0px !important;
        overflow: auto !important;
    }
}